<div class="mt-10 p-10">
    <h2>Impressum</h2>

    <h2>Angaben gemäß § 5 ECG, § 14 UGB, § 63 GewO und Offenlegung gemäß § 25 Medien</h2>

    <p class="bold">Medieninhaberin, Betreiberin und für den Inhalt verantwortlich:<p>
    <p>Emily Henle</p>
    <p>Crown-Motion</p>
    <p>Kaiserbauernberg 23</p>
    <p>4902 Wolfsegg am Hausruck</p>
    <p>Österreich</p>

    <p class="bold">Kontakt:</p>
    <p>E-Mail: crown.motion&#64;gmx.at</p>

    <p class="bold">Unternehmensgegenstand:</p>
    <p>Tanzunterricht, Tanzkurse, Workshops, Choreografie, Auftritte und künstlerische Dienstleistungen.</p>

    <p class="bold">Gewerbe:</p>
    <p>Erstellung von Choreografien, Shows, Halten von Tanzunterrichte sowie darstellende Künstlerin</p>
    <p>Zuständige Gewerbebehörde: Vöcklabruck</p>
    <p>Mitglied der Wirtschaftskammer Oberösterreich, Fachgruppe WKo</p>

    <p class="bold">Anwendbare Rechtsvorschriften:</p>
    <p>Gewerbeordnung, abrufbar unter www.ris.bka.gv.at</p>

    <h3 class="bold">Haftung für Inhalte</h3>

    <p>Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte wird jedoch keine Gewähr übernommen. Änderungen und Irrtümer bleiben vorbehalten.</p>

    <h3 class="bold">Haftung für Links</h3>

    <p>Diese Website kann Links zu externen Websites Dritter enthalten. Auf deren Inhalte habe ich keinen Einfluss. Für diese fremden Inhalte übernehme ich keine Haftung. Zum Zeitpunkt der Verlinkung waren keine rechtswidrigen Inhalte erkennbar. Bei Bekanntwerden von Rechtsverletzungen werden derartige Links umgehend entfernt.</p>

    <h3 class="bold">Urheberrecht</h3>

    <p>Die auf dieser Website veröffentlichten Inhalte, Texte, Fotos, Videos und Gestaltungen unterliegen dem Urheberrecht. Jede Verwendung, Vervielfältigung oder Weitergabe bedarf der vorherigen schriftlichen Zustimmung, sofern keine gesetzliche Erlaubnis besteht.</p>

    <h3 class="bold">Blattlinie</h3>

    <p>Diese Website informiert über Crown-Motion, Tanzangebote, Kurse, Workshops, Auftritte, Choreografie und künstlerische Dienstleistungen.</p>
</div>